@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

$theme-colors: (
  secondary: #408EB0,
  secondaryGrad: #323880 ,
  primary: #603B89,
  primaryGrad: #A53B6B,
);

$prim:#603B89;
$primGrad:#A53B6B;
$sec:#408EB0;
$secGrad:#323880;


.card{
  box-shadow: 0px 12px 25px -4px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 12px 25px -4px rgba(0, 0, 0, 0.5);
}

#logo {
  margin-top: 25px;
  font-size: 21px;
  text-align: center;

  -webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 5s; /* Firefox < 16 */
      -ms-animation: fadein 5s; /* Internet Explorer */
       -o-animation: fadein 5s; /* Opera < 12.1 */
          animation: fadein 5s;
}

#root{
  background-color: black;
}

#rootApp{
  background-color: black;
}

html{
  background-color: black;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@import "bootstrap";

.ninjaVanish{
  padding: 0;
  margin: 0;
  visibility: hidden;
  position: absolute;
  opacity: 0;
  
  transition: visibility 0s linear 500ms, opacity 500ms;
}
.ninja{
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 500ms;
  box-shadow: 0px 12px 25px -4px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 12px 25px -4px rgba(0, 0, 0, 0.5);
}

.txt-cen{

  text-align: center;


}

.shad{
  
  box-shadow: 0px 12px 25px -4px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 12px 25px -4px rgba(0, 0, 0, 0.5);
}

.radGrad{
  background: rgb(165,59,107);
background: linear-gradient(180deg, rgba(165,59,107,1) 0%, rgba(96,59,137,1) 35%, rgba(48,179,193,1) 90%, rgba(50,56,128,1) 100%);
box-shadow: 0px 12px 25px -4px rgba(0, 0, 0, 0.5);
-webkit-box-shadow: 0px 12px 25px -4px rgba(0, 0, 0, 0.5);
}

.raddGrad{
  background: rgb(165,59,107);
background: linear-gradient(180deg, rgba(165,59,107,1) 0%, rgba(96,59,137,1) 68%);
box-shadow: 0px 12px 25px -4px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 12px 25px -4px rgba(0, 0, 0, 0.5);
}

.routesGrad{
  background: rgb(50,56,128);
  background: linear-gradient(180deg, rgba(50,56,128,1) 0%, rgba(64,142,176,1) 79%);
  box-shadow: 0px 12px 25px -4px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 12px 25px -4px rgba(0, 0, 0, 0.5);
}

#logoCon{
  background: linear-gradient(180deg, #BE93C5 0%, #7bc6cc 100%);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.notAvail{
  color: red;
}
.avail{
  color: #22c1c3;
}

.prim{
  color: #323880;
}

.sec{
  color:#408EB0;
}

.primGrad{
  color: #603B89;
}

.stok
{
    text-shadow:
    // 1px 0px 0 white,
    -.5px -.5px 1px white;  

    text-decoration: none;
}

.trunc {
  width: [width];
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.notTrunc {
  white-space: pre-line;
  overflow: visible;
}


.iconz {
  height: 8em;
  width: 8em;
}


.rnd{
    border-radius: 50%;
    border: 10px solid black;
}
@media only screen and (max-width: 800px) {
  .rnd {
    border-radius: 50%;
    border: 7px solid black;
  }
}
@media only screen and (max-width: 400px) {
  .rnd {
    border-radius: 50%;
    border: 4px solid black;
  }
}

.rndNav{
    border-radius: 50%;
    border: 5px solid black;
}

.profPic{
  height: 15rem;
  width: 15rem;
}

// .loginSpiny{
//   display: none;
// }

.regiLoginTiny{
  color: $prim;
}




@media only screen and (max-width: 800px) {
  .profPic {
    height: 10rem;
    width: 10rem;
  }
}

@media only screen and (max-width: 400px) {
  .profPic {
    height: 5rem;
    width:  5rem;
  }
}
.profLangPic{
  height: 5rem;
  width: 5rem;
}
@media only screen and (max-width: 800px) {
  .profLangPic {
    height: 3rem;
    width: 3rem;
  }
}

@media only screen and (max-width: 400px) {
  .profLangPic {
    height: 3rem;
    width:  3rem;
  }
}
.peepPic{
  height: 6rem;
  width: 6rem;
}
@media only screen and (max-width: 1200px) {
  .peepPic {
    height: 4rem;
    width: 4rem;
  }
}

@media only screen and (max-width: 800px) {
  .peepPic {
    height: 3rem;
    width: 3rem;
  }
}

@media only screen and (max-width: 400px) {
  .peepPic {
    height: 3rem;
    width:  3rem;
  }
}

@media (min-width: 992px){
.my-modal-lg {
    width: auto;
}}

@media (min-width: 768px){
.my-modal-dialog {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
 }}

@media (min-width: 768px){
.my-modal-content {
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    height: auto;
    min-height: 100%;
    border-radius: 0;
}}