@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

$theme-colors: (
  secondary: #408EB0,
  secondaryGrad: #323880 ,
  primary: #603B89,
  primaryGrad: #A53B6B,
);

.card{
  box-shadow: 0px 12px 25px -4px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 12px 25px -4px rgba(0, 0, 0, 0.5);
}

#logo {
  margin-top: 25px;
  font-size: 21px;
  text-align: center;

  -webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 5s; /* Firefox < 16 */
      -ms-animation: fadein 5s; /* Internet Explorer */
       -o-animation: fadein 5s; /* Opera < 12.1 */
          animation: fadein 5s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@import "bootstrap";

.ninjaVanish{
  padding: 0;
  margin: 0;
  visibility: hidden;
  position: absolute;
  opacity: 0;
  
  transition: visibility 0s linear 500ms, opacity 500ms;
}
.ninja{
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 500ms;
  box-shadow: 0px 12px 25px -4px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 12px 25px -4px rgba(0, 0, 0, 0.5);
}

.txt-cen{

  text-align: center;


}

.shad{
  
  box-shadow: 0px 12px 25px -4px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 12px 25px -4px rgba(0, 0, 0, 0.5);
}

.radGrad{
  background: rgb(165,59,107);
background: linear-gradient(180deg, rgba(165,59,107,1) 0%, rgba(96,59,137,1) 35%, rgba(48,179,193,1) 90%, rgba(50,56,128,1) 100%);
box-shadow: 0px 12px 25px -4px rgba(0, 0, 0, 0.5);
-webkit-box-shadow: 0px 12px 25px -4px rgba(0, 0, 0, 0.5);
}

.raddGrad{
  background: rgb(165,59,107);
background: linear-gradient(180deg, rgba(165,59,107,1) 0%, rgba(96,59,137,1) 68%);
box-shadow: 0px 12px 25px -4px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 12px 25px -4px rgba(0, 0, 0, 0.5);
}

.routesGrad{
  background: rgb(50,56,128);
  background: linear-gradient(180deg, rgba(50,56,128,1) 0%, rgba(64,142,176,1) 79%);
  box-shadow: 0px 12px 25px -4px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 12px 25px -4px rgba(0, 0, 0, 0.5);
}

#logoCon{
  background-image: url('../assets/images/rrbg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.notAvail{
  color: red;
}
.avail{
  color: #22c1c3;
}

.prim{
  color: #323880;
}

.sec{
  color:#408EB0;
}

.primGrad{
  color: #603B89;
}

.stok
{
    text-shadow:
    // 1px 0px 0 white,
    -.5px -.5px 1px white;  
}

.trunc {
  width: [width];
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.notTrunc {
  white-space: pre-line;
  overflow: visible;
}

.rnd{
    border-radius: 50%;
    border: 10px solid black;
}
@media only screen and (max-width: 800px) {
  .rnd {
    border-radius: 50%;
    border: 7px solid black;
  }
}
@media only screen and (max-width: 400px) {
  .rnd {
    border-radius: 50%;
    border: 4px solid black;
  }
}

.rndNav{
    border-radius: 50%;
    border: 5px solid black;
}

.profPic{
  height: 15rem;
  width: 15rem;
}
@media only screen and (max-width: 800px) {
  .profPic {
    height: 10rem;
    width: 10rem;
  }
}

@media only screen and (max-width: 400px) {
  .profPic {
    height: 5rem;
    width:  5rem;
  }
}
.peepPic{
  height: 12rem;
  width: 12rem;
}
@media only screen and (max-width: 900px) {
  .peepPic {
    height: 7rem;
    width: 7rem;
  }
}

@media only screen and (max-width: 400px) {
  .peepPic {
    height: 3rem;
    width:  3rem;
  }
}